[flake8]
extend-ignore =
    # Comparison to true should be 'if cond is true:' or 'if cond:'
    E712,
    # Comparison to None should be 'cond is None:' (E711)
    E711
max-line-length = 99
max-complexity = 19
ban-relative-imports = true
select = B,C,E,F,N,W,I25
